h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #1b263b;

  text-align: center; /* center the titles */
}

nav {
  text-align: center; /* center the navbar */
}

.filter-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-category-container select {
  max-width: 500px;
  width: 100%;
}

p {
  size: 16px;
}

